*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg_nav_sx: #000000;
    --bg_nav_top: #080B12;
    --bg_primary: #141922;
    --bg_player: #282828;
    --clr_text: #76787D;
    --clr_hover: #ADFF2F;
    --clr_withe: #FFFFFF;
}

.overflow{
    overflow-y: auto;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.j_end{
    justify-content: end;
}

.space_btw{
    justify-content: space-between;
}

.flex_col{
    flex-direction: column;
}

.flex_row{
    flex-direction: row;
}

.tx_center{
    text-align: center;
}

.mr_top_2r{
    margin-top: 2rem;
}

.mr_top_1r{
    margin-top: 1rem;
}

.mr_bt_1re{
    margin-bottom: 1rem;
}

.pad_left_2r{
    margin-left: 2rem;
}

.pad_05r{
    padding: 0.5rem;
}

a{
    text-decoration: none;
}

/***********
UTILITIES
************/

/*#region COL*/
    .col_1{
        width: calc(100% / 12 * 1);
    }

    .col_2{
        width: calc(100% / 12 * 2 - 1rem);
    }

    .col_3{
        width: calc(100% / 12 * 3);
    }

    .col_4{
        width: calc(100% / 12 * 4);
    }
    
    .col_5{
        width: calc(100% / 12 * 5);
    }

    .col_6{
        width: calc(100% / 12 * 6);
    }

    .col_7{
        width: calc(100% / 12 * 7);
    }

    .col_8{
        width: calc(100% / 12 * 8);
    }

    .col_9{
        width: calc(100% / 12 * 9);
    }

    .col_10{
        width: calc(100% / 12 * 10);
    }

    .col_11{
        width: calc(100% / 12 *11);
    }

    .col_12{
        width: calc(100% / 12 * 12);
    }

/*#endregion COL*/



/***********
MAIN
************/

/*#region SIDEBAR*/
    .sidebar{
        background-color: var(--bg_nav_sx);
        width: 250px;
    }

    .sidebar .logo{
        width: 60%;
        margin-bottom: 2rem;
    }

    .sidebar .logo_sml{
        display: none;
    }

    .sidebar .icons_nav{
        width: 10%;
    }

    .tx_icons{
        color:var(--clr_withe) ;
        font-size: 1rem;
        align-self: center;
        margin-left: 1rem;
    }

    .tx_icons_op{
        color:var(--clr_text) ;
        font-size: 1rem;
        align-self: center;
        margin-left: 1rem;
    }

    .play_list{
        color: var(--clr_withe);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .playlist h2{
        color:var(--clr_text) ;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .playlist span{
        color:var(--clr_text) ;
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .playlist i{
        background-color: var(--clr_text);
        font-size: 1.5rem;
        padding: 0.6rem;
    }

    .app {
        color: var(--clr_text);
        font-size: 1rem;
    }

    .app span{
        margin-left: 0.5rem;
    }

    .app hr{
        margin-right: 2rem;
        margin-top: 1rem;
        border-color: var(--clr_text);
    }

    .profile img{
        background-color: #76787D;
        border-radius: 50%;
    }
/*#endregion SIDEBAR*/

/*#region NAV*/

.container{
    height: calc(100vh - 100px);
    width: calc(100vw);
    background-color: var(--bg_primary);
}

.nav{
    background-color: var(--bg_nav_top);
    padding: 2rem;
}

.nav a{
    border: 1px solid var(--clr_withe);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: var(--clr_withe);
}

/*#endregion NAV*/


/*#region MENU'*/

.menu{
    margin-top: 100px;
}

.menu li{
    display: inline-block;
    padding: 0 1rem;
}

.menu li>a{
    color: var(--clr_text);
}

/*#endregion MENU'*/


/*#region PLAYED*/

.row{
    flex-wrap: wrap;
    gap: 1rem;
}

.played{
    color: var(--clr_withe);
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.tips{
    color: var(--clr_text);
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.card{
    padding: 0.5rem;
    text-align: center;
}

.card img{
    width: 100%;
}

.img_radius{
    border-radius: 50%;
}

.card h2{
    margin-top: 0.5rem;
    color: var(--clr_withe);
}

.card h3{
    text-align: center;
    color: var(--clr_text);
    margin-top: 0.5rem
}

/*#endregion PLAYED*/

/*#region mediaplayer*/
.container_player{
    height: 100px;
    background-color: var(--bg_player);
}

.items_left img{
    width: 50px;
    margin-left: 1rem;
}

.items_left{
    align-self: center;
}

.brano h3{
    margin-left: 1rem;
    color: var(--clr_withe);
}

.brano h4{
    margin-left: 1rem;
    color: var(--clr_text);
}

.icons_left{
    margin-left: 1rem;
    color: var(--clr_text);
    align-self: center
}

.icons_left> i{
    margin-left: 0.5rem;
}

/*MID*/

.items_mid i{
    font-size: 1.5rem;
    color: var(--clr_withe);
    margin: 0 1rem;
    margin-top: 0.5rem;
    align-self: center;
}

.icon_mid{
    justify-content: center;
}

#font_s{
    font-size: 3rem;
}

.player_bar{
    display: inline-block;
    width: 300px;
    height: 3px;
    background-color: var(--clr_text);
    position: relative;
}

.player_green{
    display: inline-block;
    width: 20%;
    height: 3px;
    background-color: var(--clr_hover);
    position: absolute;
    left: 0;
}

.player_mid{
    padding-top: 0.5rem;
    align-self: center;
}

.player_mid span{
    color: var(--clr_withe);
    margin: 0 1rem;
}

/*RIGHT*/

.items_right{
    align-self: center;
}

.icons_right{
    margin-right: 0.5rem;
    color: var(--clr_withe);
    align-self: center;
}

.icons_right> i{
    margin-right: 1rem;
}

.sound_bar{
    position: relative;
    display: inline-block;
    align-self: center;
    width: 80px;
    height: 3px;
    margin-right: 1rem;
    background-color: var(--clr_text);
}

.sound_b{
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: var(--clr_withe);
    left: 0;
}

/*#endregion mediaplayer*/

/*#region MEDIA*/
@media screen and (max-width:1920px){
    
}


@media screen and (max-width: 878px) {
    .col_md_2 {
        width: calc((100% / 12) * 3 - 1rem);
    }

    .sidebar{
        width: 250px;
    }

    .menu li{
        margin-bottom:2rem ;
    }

    .font_tx{
        font-size: 1rem;
    }
}


@media screen and (max-width: 639px) {
    .col_sl_2 {
        width: calc((100% / 12) * 6 - 1rem);
    }

    .sound_bar{
        display: none;
    }

    .items_left{
        max-width: 20%;
    }

    .items_mid{
        max-width: 60%;
    }

    .items_right{
        max-width: 20%;
    }

    .icons_left{
        margin: 0;
    }
}


@media screen and (max-width: 552px) {
    
    .sidebar{
        width: 100px;
    }

    .sidebar .logo{
        display: none;
    }

    .sidebar .logo_sml{
        width: 40%;
        display: block;
        margin-bottom: 2rem;
    }

    .sidebar .icons_nav{
        width: 40%;
    }

    .tx_icons,
    .tx_icons_op, 
    .play_list, 
    .playlist,
    hr,
    .app span{
        display: none;
    }
    
    .sound_bar{
        display: none;
    }

    .items_left img{
        display: none;
    }
}

/*#endregion MEDIA*/